.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Controls-cart {
  display: flex;
  align-items: center;
}

.Controls-cart--empty {
  margin: 0;
  font-weight: 700;
  padding: 0 20px 0 12px;
}

.Controls-cart--total {
  margin: 0;
  font-weight: 700;
  padding: 0 20px 0 15px;
}
